@model WebApplication1.Models.Tenants

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Tenants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subdomain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subdomain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TenantID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
